ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month Header bitches*/
.month{
	padding: 30px 25px;
	background: #1abc9c;
}

.month ul {
	margin: 0;
	padding: 0;
}

ul {
    /* Use flex boxes to align li items */
    display: flex;
    justify-content: space-around;
    /* Remove default padding from major browsers */
    padding: 0;
    /* Hide the default decorations for li items */
    list-style: none;
}
ul > li {
    /* Display the elements in one line */
    display: inline-block;
}

.month ul li {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.month .prev{
	float: left;
	padding-top: 10px;
}

.month .next{
	float:right;
	padding-top: 10px;
}

.weekdays{
	margin: 0;
	padding: 10px 0;
	background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
	padding: 10px 0;
	background: #eee;
	margin: 0;
}

.days li{
	list-style-type: none;
	display: inline-block;
	width: 13.6%;
	text-align: center;
	margin-bottom: 5px;
	font-size: 12px;
	color: #777;
}

.days li {
	padding: 5px;
	background: #1abc9c;
	color: white !important;
}


.day:hover {
	background-color: #717171;
	color: white;
}

.calendar{
	width:300px;
	border-size:2px;
	border-style: solid;
	border-color: #1abc9c;
}

table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-style: hidden;
}

table td{
	border:2px solid;
	border-color: #1abc9c;
}

table th{
	border: 3px solid;
	border-color: #1abc9c;
}

.day{
	text-align: center;
	vertical-align: middle;
	height: 35px;
}

.month_year{
	text-align: center;
}

.active{
	color: white !important;
	background-color: #1abc9c;
}






